src/main/mule/mulesoft-cicd-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0a1b0088-e476-4827-aa3d-b75d7160daf9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-cicd-sampleFlow" doc:id="58551be4-9a0a-47f4-a068-e4108260255e" >
		<http:listener doc:name="Listener" doc:id="29bde028-d599-46ce-a1c2-0714d9051e51" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#['Hello World']" doc:name="Set Payload" doc:id="16927228-7292-4a20-8d8c-813880ee3e27" />
		<logger level="INFO" doc:name="Logger" doc:id="cdf5f0f7-8322-4076-a680-6b0ba72887ec" message="#[payload]"/>
	</flow>
</mule>
